// Break Point 

// For Small Devices (Mobile Devices)
$screen-sm: 320px;

// For Medium Devices (Mobile >)
$screen-sm2: 475px;

// For Medium Devices (Mobile >)
$screen-sm3: 596px;

// For Medium Devices (iPads)
$screen-md: 768px;

// For Large Devices (Tablets, Small screens)
$screen-lg: 976px;

// Extra Large Devices (Desktops, laptops)
$screen-xl: 1200px;

// Extra Large Devices (Desktops, laptops)
$screen-xl2: 1400px;

// Extra Large Devices (Desktops, laptops)
$screen-xlA: 1679px;